.todo {
    display: grid;
    grid-template-columns: repeat( auto-fill,50% 15% 15% 15%);
    grid-column-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #555;
    color: #112d49;
    background-color: #fbfef9;
    user-select: none;
    list-style-type: none;
  }
  
  .todoText {
    width: 90%;
    text-align: left;
    word-wrap: break-word;
  }

  .icon{
    font-size: 1.8rem;
    color:teal;
    margin-right: 15px;
  }